.page-content__min {
    margin-top: 1.5rem;
    margin-left: 17.5rem;
}

.page-content__max {
    margin-top: 1.5rem;
    margin-left: 7.5rem;
}

.headers {
    display: flex;
    justify-content: center;
}

body {
    background-color: #D8CECD;
}