.page-content__min {
    margin-top: 1.5rem;
    margin-left: 17.5rem;
}

.page-content__max {
    margin-top: 1.5rem;
    margin-left: 7.5rem;
}

.banner {
    background-color: #dec6c2;
    height: 6px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(216, 206, 205, 0), #d97e49, rgba(216, 206, 205, 0));
    margin-left: 12rem;
    margin-right: 6rem;

}
.headers {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
}
body {
    background-color: #dec6c2;
}
